{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.payment_method }}</td>
        <td>{{ order.price_total }} р.</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.note }}</td>
        {% if order.assigned_to %}
          <td>Назначено {{ order.assigned_to }}</td>
        {% else %}
          <td>
            <details>
              <summary>Доступно для</summary>
              <ul style="padding: 0px;">
                {% for restaurant in order.avaliable_for %}
                  <li>{{ restaurant.name }} - {{ restaurant.distance }} км</li>
                {% endfor %}
              </ul>
            </details>
          </td>
        {% endif %}
        <td><a href="{% url 'admin:foodcartapp_order_change' object_id=order.id %}?next={{ request.get_full_path|urlencode }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>

{% endblock %}
